* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu{
    display: flex;
    justify-content: space-between;
    background: black;
    padding: 30px 0px 35px 0px;
}
.LOGO{
    width: 70px;
    height: 72px;
    margin: -26px 0px 0px 0px;
}
.menu-list{
    text-decoration: none;
    list-style: none;
    display: flex;
    padding: 0px 0px 0px 0px;
    margin: -26px 0px 0px 0px;
}
.list-element{
    padding: 35px 135px 0px 0px;
    margin: 0px 0px 0px 0px;
    text-decoration: none;
}
.list{
    padding: 35px 135px 0px 0px;
}
.part-1{
    background-image: url("img/background/thumb-1920-1165650.png");
    padding: 873px 0px 0px 0px;
    position: relative;
}
.part-1-h1{
    position: absolute;
    margin:-630px 0px 0px 43px ;

}
.part-1-h3{
    position: absolute;
    margin: -570px 0px 0px 43px;
}

.part-1-button{
    position: absolute;
    margin: -510px 0px 0px 43px;
    color: #3498db;
    background-color: white;
    border: 1px solid #3498db;
    padding: 10px;
    transition: 0.8s;
}
.part-1-button:hover{
    color: #ffffff;
    background-color: #3498db;
}




